In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot  as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [4]:
df = pd.read_csv("linear_line-datas.csv")

In [5]:
df.head()

          x          y
0  4.753198  18.144798
1  7.482920  20.002888
2  1.001029   4.084733
3  3.720993  16.327152
4  2.320803   9.982894